

.header-img {
    background: url(../img/background1.png);
    height: 768px;
    width: 100%;
    background-size: cover;
}

.header {
    margin-left: 160px;
    display: flex;
    justify-content: space-between;
    width: 1020px;
}

.header-logo {
    width: 53px;
    height: 47px;
    left: 0px;
    top: 0px;
}

.header-link::before {
    content: url(../img/logo.svg);
    padding-right: 10px;
}


.header-link-text {
    padding-top: 51px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
}

.header-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #ffffff;
    text-decoration: none;
}

.header-link-span {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    
}

.header-link:hover {
    color: #F26522;
}

.header-mail-phone {
    padding-top: 46px;
}

.header-link-mail {
    display: flex;
    justify-content: end;
    align-items: center;
}

.mail-link {
    color: #ffffff;
    text-decoration: none;
}

.mail-link-text:hover {
    color: #F26522;
}

.header-link-phone {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 19px;
}

.phone-link {
    color: #ffffff;
    text-decoration: none;
}

.phone-link-text:hover {
    color: #F26522;
}

.main {
    margin-right: 160px;
    margin-left: 160px;
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 220px);
    column-gap: 60px;
    row-gap: 78px;
}

.main-header {
    width: 300px;
}

.main-header-link{
    text-decoration: none;
}

.main-image {
    display: block;
    background-image: url("../img/image1.png");
    width: 300px;
    height: 220px;
}

.main-image-text {
    display: none;
    width: 300px;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    top: 308px;
    color: #ffffff;
}

.main-image-text-2 {
    display: none;
    color: #ffffff;

}

.main-image-title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding: 20px;
}

.text {
    padding-top: 7px;
    padding-left: 16px;
}

a:hover .main-image-text {
    display: inline-block;
}

a:hover .main-image-text-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
}

a:hover .main-image-title {
    color: #F26522;
}

.main-title::after {
    content: url("../img/Vector.svg");
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-image-two{
    display: block;
    background-image: url("../img/image2.png");
    width: 300px;
    height: 220px;
}

.main-image-three{
    display: block;
    background-image: url("../img/image3.png");
    width: 300px;
    height: 220px;
}

.main-image-four{
    display: block;
    background-image: url("../img/image4.png");
    width: 300px;
    height: 220px;
}

.main-image-text-two {
    display: none;
    width: 300px;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    top: 608px;
    color: #ffffff;
}

a:hover .main-image-text-two {
    display: inline-block;
}

.main-image-five{
    display: block;
    background-image: url("../img/image5.png");
    width: 300px;
    height: 220px;
}

.main-image-six{
    display: block;
    background-image: url("../img/image6.png");
    width: 300px;
    height: 220px;
}

.footer{
  margin-top: 90px;
  color: #ffffff;
  width: 1340px;
}

.footer-text{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
}